:root {
    --bg-color: #161618;
    --elem-color: #222225;
    --button-color: #28282e;
    --button-active-color: #242428;
    --text-color: #ffffff;
    --mc-mod-desc-color: #cccccf;
}

body {
    margin: 16px 64px;
    background-color: var(--bg-color);
    font-family: Inter;
    color: var(--text-color);
}

.hidden {
    display: none !important;
}

.page-element {
    background-color: var(--elem-color);
    border-radius: 16px;
    margin: 8px;
}

.header-item {
    flex: 0 0 auto;
}

.header-button {
    background-color: var(--button-color);
    color: var(--text-color);
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    text-indent: 16px;
    height: 48px;
    width: 240px;
    border-radius: 24px;
    margin: 16px 16px 16px 0px;
    display: inline-block;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.header-button-icon {
    position: absolute;
    right: 12px;
    top: 8px;
}

.dark-icon {
    filter: invert(100%);
}

.header-button:active {
    background-color: var(--button-active-color);
}

.light-dark-button {
    border: none;
    outline: none;
    border-radius: 24px;
    background-color: var(--button-color);
    width: 48px;
    height: 48px;
    margin-top: 16px;
    margin-right: 16px;
    margin-left: auto;
    cursor: pointer;
    position: relative;
}

.light-dark-button:active {
    background-color: var(--button-active-color);
}

.dark-mode-button-icon {
    width: 32px;
    height: 32px;
    left: 8px;
    top: 8px;
    position: absolute;
    filter: invert(100%);
}

.light-mode-button-icon {
    width: 32px;
    height: 32px;
    left: 8px;
    top: 8px;
    position: absolute;
}

.header-scroll-div {
    top: 8px;
    width: 72px;
    height: 80px;
    position: absolute;
}

.mc-mod {
    width: calc(100% - 16px);
    height: 160px;
    margin: 8px;
    position: relative;
}

.mc-mod-icon {
    width: 128px;
    height: 128px;
    margin: 16px;
    border-radius: 12px;
    background-color: black;
    cursor: pointer;
}

.mc-mod-title {
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 160px;
}

.mc-mod-desc {
    font-size: 24px;
    font-weight: 100;
    position: absolute;
    top: 32px;
    left: 160px;
    color: var(--mc-mod-desc-color);
}

.mc-mod-download-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 96px;
    left: 160px;
}

.mc-mod-download-count {
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    top: 72px;
    left: 200px;
    color: var(--text-color);
}

#header-scroll-left {
    left: 0px;
}

#header-scroll-right {
    left: calc(100% - 72px);
}

#header {
    width: calc(100% - 16px);
    height: 80px;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#header::-webkit-scrollbar {
    display: none;
}

#icon {
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
}

#header-text {
    display: inline-block;
    text-align: center;
    width: 216px;
    font-size: 33px;
    font-weight: 900;
    margin: 20px 20px 16px 8px;
}

#mc-mods-div {
    display: flex;
    flex-direction: column;
}

#cookie-clicker-div {
    display: flex;
    flex-wrap: wrap;
}

#cookie-clicker-textbox {
    width: calc(20% - 16px);
    min-width: 200px;
    height: auto;
    flex: 0 0 auto;
}

#cookie-clicker-text {
    font-size: 16px;
    margin: 16px;
}

#cookie-clicker-imgbox {
    width: calc(80% - 16px);
    min-width: 400px;
    flex: 0 0 auto;
}

#cookie-clicker-img {
    width: calc(100% - 16px);
    height: auto;
    margin: 8px;
    border-radius: 8px;
    display: block;
}